:root {
    --hover-effect-color-functionality: rgba(3,239,98,255);
    --hover-effect-color-design: rgba(6,189,252,255);
    --block-background-color: rgb(15,43,64);
    --design-background-color: rgba(121,51,255,255);
    --background-color: rgba(0, 0, 0, 0.5);
    --smaller-background-color: rgba(247,243,235,255);
    --small-effect-elements-color: rgba(0, 0, 0, 0.5);
    --font-color: azure;
    --default-width: 100%;
    --font-style: "Arial Rounded MT Bold"
}

body {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 2fr;
    grid-template-areas:
        "header-bar header-bar header-bar"
        "timeline-container timeline-container timeline-container"
        "drag-and-drop-container drag-and-drop-container aside"
}


/*-------------------------------------*/


.header-bar {
    grid-area: header-bar;
    background-color: var(--block-background-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    gap: 20px;
    flex-flow: row wrap;
}

.timeline-container {
    grid-area: timeline-container;
    display: flex;
    align-items: center;
    align-content: center;
}

.drag-and-drop-container {
    grid-area: drag-and-drop-container;
}

aside {
    grid-area: aside;
}


/*-------------------------------------*/



.dropdown {
    height: 50%;
    width: 13ch;
    flex-grow: 1;
    margin: 10px;
}

.t {
    flex-grow: 1;
    color: var(--font-color);
    font-family: var(--font-style);
}

.logo-container {
    margin-left: 10px;
    height: 80%;
    flex-grow: 2.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    gap: 0px;
}

.part-of-timeline {
    --first-color: #a038fc;
    --second-color: #21b1ff;
    --third-color: #da1ccd;
    --fourth-color: #fa3353;
    background: transparent;
    height: 10%;
    border: none;
}

/*-------------------------------------*/


.circle {
    background-color: azure;
    width: 3ch;
    height: 3ch;
    border: none;
    border-radius: 50%;
}

.block {
    width: 9ch;
    height: 2ch;
    background-color: azure;
}

.dropbtn {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5%;
    background-color: var(--design-background-color);
    color: var(--font-color);
}

.dropdown-content {
    opacity: 0;
    background-color: #cccccc;
    width: 120%;
    height: 220%;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    transform: translateY(-5ch);
    transition: opacity 300ms ease-in, transform 300ms ease-in;
}


.part-of-timeline-dropbn {
    width: 100%;
    height: 100%;
    background-color: #a038fc;
    border: none;
}

.part-of-timeline-content{
    opacity: 0;
    width: 100%;
    height: 300%;
    background-color: transparent;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: start;
    transform: translateY(-5ch);
    transition: opacity 300ms ease-in, transform 300ms ease-in;
}

/*-------------------------------------*/

.gap {
    width: 100%;
    height: 50%;
    background-color: transparent;
    border-left: 1px dashed;
    border-right: 1px dashed;
}

.not-gap {
    width: calc(100% * 2);
    height: 50%;
    background-color: #a038fc;
}



a {
    background-color: #cccccc;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    border: none;
}


@media(max-width: 1000px) {
    .dropdown {
        display: none;
    }
    .logo-container {
        display: none;
    }
}


@media(min-width: 1500px) {
    body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "header-bar header-bar header-bar header-bar"
        "timeline-container timeline-container drag-and-drop-container aside"
    }
}







